In [2]:
# Import libraries 
from pyspark import SparkFiles
from pyspark.ml import Pipeline
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import explode, split, col, size, when
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline
from pyspark.sql.functions import log
from pyspark.ml.feature import MinMaxScaler
from pyspark.sql import functions as F
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Start spark session
spark = SparkSession.builder.appName('Spark-Group1-Linear-Regression').getOrCreate()

### Loading train dataset (75% of the data)

In [4]:
# Load train dataset
train_gcs_path = "gs://msca-bdp-student-gcs/Group1/traindata.parquet/"

# Read the CSV file from GCS
df_train = spark.read.parquet(train_gcs_path, header=True, inferSchema=True)

# Show the train DataFrame
df_train.show(10)

+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
|               legId|searchDate|flightDate|startingAirport|destinationAirport|travelDuration|elapsedDays|isRefundable|totalFare|seatsRemaining|DaysBeforeFlight|Layovers|NumStops|        AirlineNames|NumUniqueAirlines|AircraftType|NumUniqueCabins|hasFirstClass|FlightArrivalDate|totalTravelDistance|
+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
|00000f65c6af0f881...|2022-05-25|2022-05-28|            DTW|               ATL|           185|          0|           0|   561.61|             5|               3|   [CLE]|       1|      [Delta, Delta]|                1|           2|              1|            0|       2022-05-28|                649|
|000019591cfd2d4eb...|2022-06-19|2022-08-03|            DEN|               MIA|           621|          0|           0|   257.21|             7|              45|   [AUS]|       1|[American Airline...|                1|           1|              1|            0|       2022-08-03|               1876|
|000019591cfd2d4eb...|2022-07-14|2022-08-03|            DEN|               MIA|           621|          0|           0|    337.2|             7|              20|   [AUS]|       1|[American Airline...|                1|           1|              1|            0|       2022-08-03|               1876|
|00002b6f11d86964d...|2022-06-19|2022-08-13|            LAX|               PHL|           401|          0|           0|    792.6|             9|              55|   [DEN]|       1|    [United, United]|                1|           3|              1|            0|       2022-08-13|               2373|
|000030a6b191a05f3...|2022-06-12|2022-08-08|            ATL|               DFW|           137|          0|           0|    244.6|             7|              57|      []|       0| [American Airlines]|                1|           2|              1|            0|       2022-08-08|                725|
|000030a6b191a05f3...|2022-07-18|2022-08-08|            ATL|               DFW|           137|          0|           0|    192.6|             7|              21|      []|       0| [American Airlines]|                1|           2|              1|            0|       2022-08-08|                725|
|000032c98a1411929...|2022-09-14|2022-10-12|            LAX|               DEN|           142|          0|           0|     77.6|             9|              28|      []|       0|            [United]|                1|           1|              1|            0|       2022-10-12|                848|
|000032c98a1411929...|2022-09-29|2022-10-12|            LAX|               DEN|           142|          0|           0|    178.6|             9|              13|      []|       0|            [United]|                1|           1|              1|            0|       2022-10-12|                848|
|0000418a90646f46c...|2022-09-10|2022-09-23|            EWR|               LAX|           580|          0|           0|    338.6|             9|              13|   [ATL]|       1|      [Delta, Delta]|                1|           3|              1|            0|       2022-09-23|               2659|
|0000495bcccb2492d...|2022-08-17|2022-09-23|            MIA|               BOS|           289|          0|           0|    117.6|             1|              37|   [DCA]|       1|[American Airline...|                1|           3|              1|            0|       2022-09-23|               1329|
+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
only showing top 10 rows

### Loading test dataset (15% of the data)

In [5]:
# Load test dataset
test_gcs_path = "gs://msca-bdp-student-gcs/Group1/testdata.parquet/"

# Read the CSV file from GCS
df_test = spark.read.parquet(test_gcs_path, header=True, inferSchema=True)

# Show the train DataFrame
df_test.show(10)

+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+----------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
|               legId|searchDate|flightDate|startingAirport|destinationAirport|travelDuration|elapsedDays|isRefundable|totalFare|seatsRemaining|DaysBeforeFlight|  Layovers|NumStops|        AirlineNames|NumUniqueAirlines|AircraftType|NumUniqueCabins|hasFirstClass|FlightArrivalDate|totalTravelDistance|
+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+----------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
|000012c2ee248f229...|2022-05-01|2022-05-16|            CLT|               JFK|           112|          0|           0|    197.1|             7|              15|        []|       0|   [JetBlue Airways]|                1|           1|              1|            0|       2022-05-16|                545|
|0000606b4f492009f...|2022-06-02|2022-07-24|            ORD|               SFO|           770|          1|           0|    607.2|             7|              52|     [SEA]|       1|[Alaska Airlines,...|                1|           1|              1|            0|       2022-07-25|               2402|
|0000fb6fe0c2422df...|2022-09-23|2022-10-07|            EWR|               DEN|           686|          0|           0|   482.21|             5|              14|     [ATL]|       1|      [Delta, Delta]|                1|           3|              1|            0|       2022-10-07|               1969|
|0001310a5c86066dd...|2022-08-18|2022-08-21|            CLT|               ORD|           315|          0|           0|    316.1|             3|               3|     [DTW]|       1|      [Delta, Delta]|                1|           1|              1|            0|       2022-08-21|                745|
|000137a8b0ab8dd1e...|2022-04-18|2022-06-02|            DEN|               JFK|           536|          0|           0|   607.21|             9|              45|     [CMH]|       1|     [United, Delta]|                2|           2|              1|            0|       2022-06-02|               1636|
|000169a08220dd9bf...|2022-08-02|2022-09-08|            DTW|               OAK|           752|          0|           0|   541.48|             7|              37|[MCO, SEA]|       2|[Delta, Alaska Ai...|                2|           1|              1|            0|       2022-09-08|               4177|
|0001a588df49bdc64...|2022-05-04|2022-05-07|            SFO|               LGA|           484|          0|           0|    257.6|             1|               3|     [IAH]|       1|    [United, United]|                1|           3|              1|            0|       2022-05-07|               3060|
|00025c179c798575c...|2022-05-19|2022-06-10|            DTW|               LAX|           500|          0|           0|    431.6|             2|              22|     [EWR]|       1|    [United, United]|                1|           0|              1|            0|       2022-06-10|               2943|
|0003644dd8b1c3066...|2022-08-12|2022-09-10|            JFK|               DTW|           270|          0|           0|   146.59|             7|              29|     [BOS]|       1|[JetBlue Airways,...|                1|           2|              1|            0|       2022-09-10|                807|
|0003a8b72e4650981...|2022-05-26|2022-07-04|            JFK|               SFO|           374|          0|           0|    578.6|             9|              39|        []|       0|            [United]|                1|           1|              1|            0|       2022-07-04|               2566|
+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+----------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
only showing top 10 rows

### Loading validation dataset (10% of the data)

In [6]:
# Load validation dataset
val_gcs_path = "gs://msca-bdp-student-gcs/Group1/valdata.parquet/"

# Read the CSV file from GCS
df_val = spark.read.parquet(val_gcs_path, header=True, inferSchema=True)

# Show the train DataFrame
df_val.show(10)

+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+----------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
|               legId|searchDate|flightDate|startingAirport|destinationAirport|travelDuration|elapsedDays|isRefundable|totalFare|seatsRemaining|DaysBeforeFlight|  Layovers|NumStops|        AirlineNames|NumUniqueAirlines|AircraftType|NumUniqueCabins|hasFirstClass|FlightArrivalDate|totalTravelDistance|
+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+----------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
|00002d04072aa6a76...|2022-09-18|2022-11-06|            OAK|               MIA|           856|          0|           0|    632.7|             9|              49|[SLC, IAH]|       2|[Delta, United, U...|                2|           1|              1|            0|       2022-11-06|               2750|
|00002d04072aa6a76...|2022-10-02|2022-11-06|            OAK|               MIA|           856|          0|           0|    622.7|             9|              35|[SLC, IAH]|       2|[Delta, United, U...|                2|           1|              1|            0|       2022-11-06|               2750|
|00006a13880105b72...|2022-08-17|2022-08-20|            ORD|               ATL|           113|          0|           0|    277.6|             6|               3|        []|       0|             [Delta]|                1|           2|              1|            0|       2022-08-20|                600|
|0000d6685d307eb9f...|2022-07-27|2022-09-23|            LGA|               DEN|           262|          0|           0|    313.6|             9|              58|        []|       0|            [United]|                1|           1|              1|            0|       2022-09-23|               1621|
|00014bb3a18d6c00a...|2022-08-22|2022-09-20|            JFK|               ATL|           147|          0|           0|     88.6|             7|              29|        []|       0|   [JetBlue Airways]|                1|           2|              1|            0|       2022-09-20|                762|
|000169a08220dd9bf...|2022-08-03|2022-09-08|            DTW|               OAK|           752|          0|           0|   541.48|             7|              36|[MCO, SEA]|       2|[Delta, Alaska Ai...|                2|           1|              1|            0|       2022-09-08|               4177|
|000184dc4e0ed60e3...|2022-05-12|2022-05-30|            SFO|               DFW|           484|          0|           0|    291.6|            10|              18|     [PHX]|       1|[American Airline...|                1|           3|              1|            0|       2022-05-30|               1524|
|00019f097879774ed...|2022-09-22|2022-10-01|            DFW|               ORD|           628|          0|           0|   218.58|             0|               9|     [LAX]|       1|[Spirit Airlines,...|                1|           2|              1|            0|       2022-10-01|               1467|
|00019fbfcdeea437c...|2022-05-03|2022-05-06|            SFO|               IAD|           526|          1|           0|    351.6|             7|               3|     [ORD]|       1|    [United, United]|                1|           1|              1|            0|       2022-05-07|               2441|
|000232b958d82735d...|2022-06-30|2022-07-12|            JFK|               DFW|           231|          0|           0|    178.6|             7|              12|        []|       0|   [JetBlue Airways]|                1|           1|              1|            0|       2022-07-12|               1380|
+--------------------+----------+----------+---------------+------------------+--------------+-----------+------------+---------+--------------+----------------+----------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+
only showing top 10 rows

### Repartitioning data

In [7]:
# Repartition train data
num = df_train.rdd.getNumPartitions()
print(num)
df_train = df_train.repartition(num)

20

In [8]:
# Repartition test data
num = df_test.rdd.getNumPartitions()
print(num)
df_test = df_test.repartition(num)

4

In [9]:
# Repartition validation data
num = df_val.rdd.getNumPartitions()
print(num)
df_val = df_val.repartition(num)

6

## Featuring Engineering

In [30]:
df_train.printSchema()

root
 |-- legId: string (nullable = true)
 |-- searchDate: date (nullable = true)
 |-- flightDate: date (nullable = true)
 |-- startingAirport: string (nullable = true)
 |-- destinationAirport: string (nullable = true)
 |-- travelDuration: integer (nullable = true)
 |-- elapsedDays: integer (nullable = true)
 |-- isRefundable: integer (nullable = true)
 |-- totalFare: double (nullable = true)
 |-- seatsRemaining: integer (nullable = true)
 |-- DaysBeforeFlight: integer (nullable = true)
 |-- Layovers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- NumStops: integer (nullable = true)
 |-- AirlineNames: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- NumUniqueAirlines: integer (nullable = true)
 |-- AircraftType: integer (nullable = true)
 |-- NumUniqueCabins: integer (nullable = true)
 |-- hasFirstClass: integer (nullable = true)
 |-- FlightArrivalDate: date (nullable = true)
 |-- totalTravelDistance: integer (nullable = true)

### StartingAirport and DestinationAirport columns are categorical variable that need to be transofmred before running a regression model on them.

In [31]:
# Count unique values in the startingAirport column
unique_starting_airports = df_train.select("startingAirport").distinct().count()
print(f"Number of unique starting airports: {unique_starting_airports}")

Number of unique starting airports: 16

In [32]:
# Count unique values in the destinationAirport column
unique_destination_airports = df_train.select("destinationAirport").distinct().count()
print(f"Number of unique destination airports: {unique_destination_airports}")

Number of unique destination airports: 16

#### Although one-hot encoding increases dimensionality, it avoids the ordinal problem introduced by label encoding.Since there are only 16 unique airports, the increase in dimensions (16 columns) is relatively manageable, especially given that it’s a small number of categories.

In [33]:
# List of categorical columns to be one-hot encoded
categorical_columns = ["startingAirport", "destinationAirport"]

# Initialize StringIndexer and OneHotEncoder for each column
indexers = [StringIndexer(inputCol=col, outputCol=col + "_index") for col in categorical_columns]
encoders = [OneHotEncoder(inputCol=col + "_index", outputCol=col + "_onehot") for col in categorical_columns]

In [34]:
# Create a Pipeline to apply transformations
pipeline = Pipeline(stages=indexers + encoders)

In [35]:
# Fit and transform the data
df_train_transformed = pipeline.fit(df_train).transform(df_train)
df_test_transformed = pipeline.fit(df_test).transform(df_test)
df_val_transformed = pipeline.fit(df_val).transform(df_val)

# Show the transformed data
df_train_transformed.select("startingAirport", "destinationAirport", "startingAirport_onehot", "destinationAirport_onehot").show(5)

+---------------+------------------+----------------------+-------------------------+
|startingAirport|destinationAirport|startingAirport_onehot|destinationAirport_onehot|
+---------------+------------------+----------------------+-------------------------+
|            DTW|               ATL|       (15,[11],[1.0])|           (15,[7],[1.0])|
|            DEN|               MIA|       (15,[10],[1.0])|           (15,[8],[1.0])|
|            DEN|               MIA|       (15,[10],[1.0])|           (15,[8],[1.0])|
|            LAX|               PHL|        (15,[0],[1.0])|           (15,[9],[1.0])|
|            ATL|               DFW|        (15,[7],[1.0])|           (15,[2],[1.0])|
+---------------+------------------+----------------------+-------------------------+
only showing top 5 rows

In [36]:
# Drop the original categorical columns and the index columns after encoding
df_train_transformed = df_train_transformed.drop("startingAirport", "destinationAirport",
                                                "startingAirport_index", "destinationAirport_index")
df_test_transformed = df_test_transformed.drop("startingAirport", "destinationAirport", 
                                              "startingAirport_index", "destinationAirport_index")
df_val_transformed = df_val_transformed.drop("startingAirport", "destinationAirport",
                                             "startingAirport_index", "destinationAirport_index")

### AirlineNames is in an array form, showing the airline taken for each leg of the journey. We need to tranform this before using it in our regression model.

In [37]:
# Get the maximum size of AirlineNames to create new columns dynamically
max_airline_count = df_train.select(size(col("AirlineNames"))).agg({"size(AirlineNames)": "max"}).collect()[0][0]

# Create a list of string names for the airline columns
airline_columns = [f"AirlineName_{i}" for i in range(max_airline_count)]

# Select original columns and the new airline columns
df_train_transformed = df_train_transformed.select("*", *[col("AirlineNames")[i].alias(f"AirlineName_{i}") for i in range(max_airline_count)])
df_test_transformed = df_test_transformed.select("*", *[col("AirlineNames")[i].alias(f"AirlineName_{i}") for i in range(max_airline_count)])
df_val_transformed = df_val_transformed.select("*", *[col("AirlineNames")[i].alias(f"AirlineName_{i}") for i in range(max_airline_count)])

df_train_transformed.show()

+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+-----------------+-----------------+-------------+-------------+-------------+
|               legId|searchDate|flightDate|travelDuration|elapsedDays|isRefundable|totalFare|seatsRemaining|DaysBeforeFlight|Layovers|NumStops|        AirlineNames|NumUniqueAirlines|AircraftType|NumUniqueCabins|hasFirstClass|FlightArrivalDate|totalTravelDistance|startingAirport_onehot|destinationAirport_onehot|    AirlineName_0|    AirlineName_1|AirlineName_2|AirlineName_3|AirlineName_4|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+-----------------+-----------------+-------------+-------------+-------------+
|00000f65c6af0f881...|2022-05-25|2022-05-28|           185|          0|           0|   561.61|             5|               3|   [CLE]|       1|      [Delta, Delta]|                1|           2|              1|            0|       2022-05-28|                649|       (15,[11],[1.0])|           (15,[7],[1.0])|            Delta|            Delta|         null|         null|         null|
|000019591cfd2d4eb...|2022-06-19|2022-08-03|           621|          0|           0|   257.21|             7|              45|   [AUS]|       1|[American Airline...|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|American Airlines|American Airlines|         null|         null|         null|
|000019591cfd2d4eb...|2022-07-14|2022-08-03|           621|          0|           0|    337.2|             7|              20|   [AUS]|       1|[American Airline...|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|American Airlines|American Airlines|         null|         null|         null|
|00002b6f11d86964d...|2022-06-19|2022-08-13|           401|          0|           0|    792.6|             9|              55|   [DEN]|       1|    [United, United]|                1|           3|              1|            0|       2022-08-13|               2373|        (15,[0],[1.0])|           (15,[9],[1.0])|           United|           United|         null|         null|         null|
|000030a6b191a05f3...|2022-06-12|2022-08-08|           137|          0|           0|    244.6|             7|              57|      []|       0| [American Airlines]|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|American Airlines|             null|         null|         null|         null|
|000030a6b191a05f3...|2022-07-18|2022-08-08|           137|          0|           0|    192.6|             7|              21|      []|       0| [American Airlines]|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|American Airlines|             null|         null|         null|         null|
|000032c98a1411929...|2022-09-14|2022-10-12|           142|          0|           0|     77.6|             9|              28|      []|       0|            [United]|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|           United|             null|         null|         null|         null|
|000032c98a1411929...|2022-09-29|2022-10-12|           142|          0|           0|    178.6|             9|              13|      []|       0|            [United]|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|           United|             null|         null|         null|         null|
|0000418a90646f46c...|2022-09-10|2022-09-23|           580|          0|           0|    338.6|             9|              13|   [ATL]|       1|      [Delta, Delta]|                1|           3|              1|            0|       2022-09-23|               2659|       (15,[13],[1.0])|           (15,[0],[1.0])|            Delta|            Delta|         null|         null|         null|
|0000495bcccb2492d...|2022-08-17|2022-09-23|           289|          0|           0|    117.6|             1|              37|   [DCA]|       1|[American Airline...|                1|           3|              1|            0|       2022-09-23|               1329|        (15,[8],[1.0])|           (15,[3],[1.0])|American Airlines|American Airlines|         null|         null|         null|
|00004982d1fbd9cfb...|2022-08-27|2022-10-15|           427|          0|           0|    417.6|             7|              49|   [ORD]|       1|[American Airline...|                1|           1|              1|            0|       2022-10-15|               2337|        (15,[0],[1.0])|           (15,[6],[1.0])|American Airlines|American Airlines|         null|         null|         null|
|00004ddd458018edb...|2022-05-06|2022-06-21|           527|          0|           0|    417.6|             5|              46|   [DFW]|       1|[American Airline...|                1|           3|              1|            0|       2022-06-21|               2618|       (15,[12],[1.0])|           (15,[0],[1.0])|American Airlines|American Airlines|         null|         null|         null|
|0000606b4f492009f...|2022-07-15|2022-07-24|           770|          1|           0|    637.2|             3|               9|   [SEA]|       1|[Alaska Airlines,...|                1|           1|              1|            0|       2022-07-25|               2402|        (15,[5],[1.0])|           (15,[5],[1.0])|  Alaska Airlines|  Alaska Airlines|         null|         null|         null|
|0000687c531722f65...|2022-06-08|2022-06-26|           454|          0|           0|   430.21|             1|              18|   [SLC]|       1|      [Delta, Delta]|                1|           2|              1|            0|       2022-06-26|                979|        (15,[3],[1.0])|          (15,[10],[1.0])|            Delta|            Delta|         null|         null|         null|
|000077f3e5fb50d7c...|2022-10-04|2022-10-25|           153|          0|           0|     96.6|             7|              21|      []|       0| [American Airlines]|                1|           2|              1|            0|       2022-10-25|                761|       (15,[12],[1.0])|           (15,[7],[1.0])|American Airlines|             null|         null|         null|         null|
|00007cb601b503065...|2022-09-16|2022-10-16|           461|          1|           0|    367.1|             7|              30|   [CLT]|       1|[American Airline...|                1|           3|              1|            0|       2022-10-17|               2621|        (15,[0],[1.0])|          (15,[12],[1.0])|American Airlines|American Airlines|         null|         null|         null|
|0000be9d18b31a22a...|2022-09-10|2022-10-18|           347|          0|           0|   177.61|             7|              38|   [LAX]|       1|[American Airline...|                1|           0|              1|            0|       2022-10-18|               1577|        (15,[3],[1.0])|           (15,[2],[1.0])|American Airlines|American Airlines|         null|         null|         null|
|0000bf7c98d1b71aa...|2022-07-15|2022-08-24|           245|          0|           0|     82.6|             9|              40|   [IAD]|       1|    [United, United]|                1|           3|              1|            0|       2022-08-24|                932|       (15,[11],[1.0])|           (15,[7],[1.0])|           United|           United|         null|         null|         null|
|0000d6685d307eb9f...|2022-09-06|2022-09-23|           262|          0|           0|    148.6|             3|              17|      []|       0|            [United]|                1|           1|              1|            0|       2022-09-23|               1621|        (15,[1],[1.0])|          (15,[10],[1.0])|           United|             null|         null|         null|         null|
|0000e3ad4eefb5a1a...|2022-10-01|2022-10-20|           110|          0|           0|    258.6|             9|              19|      []|       0|             [Delta]|                1|           2|              1|            0|       2022-10-20|                497|       (15,[11],[1.0])|           (15,[1],[1.0])|            Delta|             null|         null|         null|         null|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+--------------------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+-----------------+-----------------+-------------+-------------+-------------+
only showing top 20 rows

In [38]:
# Show the transformed data
df_train_transformed.select("AirlineNames", "AirlineName_0", "AirlineName_1", "AirlineName_2","AirlineName_3","AirlineName_4").show(5)

+--------------------+-----------------+-----------------+-------------+-------------+-------------+
|        AirlineNames|    AirlineName_0|    AirlineName_1|AirlineName_2|AirlineName_3|AirlineName_4|
+--------------------+-----------------+-----------------+-------------+-------------+-------------+
|      [Delta, Delta]|            Delta|            Delta|         null|         null|         null|
|[American Airline...|American Airlines|American Airlines|         null|         null|         null|
|[American Airline...|American Airlines|American Airlines|         null|         null|         null|
|    [United, United]|           United|           United|         null|         null|         null|
| [American Airlines]|American Airlines|             null|         null|         null|         null|
+--------------------+-----------------+-----------------+-------------+-------------+-------------+
only showing top 5 rows

In [39]:
# Drop the redundant AirlineNames column
df_train_transformed = df_train_transformed.drop("AirlineNames")
df_test_transformed = df_test_transformed.drop("AirlineNames")
df_val_transformed = df_val_transformed.drop("AirlineNames")

In [40]:
# Replace null values with "None" for airline columns before transforming
for i in range(max_airline_count):
    airline_col = f"AirlineName_{i}"
    df_train_transformed = df_train_transformed.withColumn(
        airline_col, when(col(airline_col).isNull(), "None").otherwise(col(airline_col))
    )

    df_test_transformed = df_test_transformed.withColumn(
        airline_col, when(col(airline_col).isNull(), "None").otherwise(col(airline_col))
    )

    df_val_transformed = df_val_transformed.withColumn(
        airline_col, when(col(airline_col).isNull(), "None").otherwise(col(airline_col))
    )

# Initialize StringIndexer and OneHotEncoder for each column using string names
indexers = [StringIndexer(inputCol=col_name, outputCol=col_name + "_index") for col_name in airline_columns]
encoders = [OneHotEncoder(inputCols=[col_name + "_index"], outputCols=[col_name + "_onehot"]) for col_name in airline_columns]

# Create a Pipeline to apply transformations
pipeline = Pipeline(stages=indexers + encoders)

# Fit and transform the data
df_train_transformed = pipeline.fit(df_train_transformed).transform(df_train_transformed)
df_test_transformed = pipeline.fit(df_test_transformed).transform(df_test_transformed)
df_val_transformed = pipeline.fit(df_val_transformed).transform(df_val_transformed)

# Show the transformed DataFrame
df_train_transformed.show()

24/12/02 03:27:42 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+-----------------+-----------------+-------------+-------------+-------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|               legId|searchDate|flightDate|travelDuration|elapsedDays|isRefundable|totalFare|seatsRemaining|DaysBeforeFlight|Layovers|NumStops|NumUniqueAirlines|AircraftType|NumUniqueCabins|hasFirstClass|FlightArrivalDate|totalTravelDistance|startingAirport_onehot|destinationAirport_onehot|    AirlineName_0|    AirlineName_1|AirlineName_2|AirlineName_3|AirlineName_4|AirlineName_0_index|AirlineName_1_index|AirlineName_2_index|AirlineName_3_index|AirlineName_4_index|AirlineName_0_onehot|AirlineName_1_onehot|AirlineName_2_onehot|AirlineName_3_onehot|AirlineName_4_onehot|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+-----------------+-----------------+-------------+-------------+-------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|00000f65c6af0f881...|2022-05-25|2022-05-28|           185|          0|           0|   561.61|             5|               3|   [CLE]|       1|                1|           2|              1|            0|       2022-05-28|                649|       (15,[11],[1.0])|           (15,[7],[1.0])|            Delta|            Delta|         None|         None|         None|                1.0|                3.0|                0.0|                0.0|                0.0|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000019591cfd2d4eb...|2022-06-19|2022-08-03|           621|          0|           0|   257.21|             7|              45|   [AUS]|       1|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|American Airlines|American Airlines|         None|         None|         None|                0.0|                1.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000019591cfd2d4eb...|2022-07-14|2022-08-03|           621|          0|           0|    337.2|             7|              20|   [AUS]|       1|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|American Airlines|American Airlines|         None|         None|         None|                0.0|                1.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00002b6f11d86964d...|2022-06-19|2022-08-13|           401|          0|           0|    792.6|             9|              55|   [DEN]|       1|                1|           3|              1|            0|       2022-08-13|               2373|        (15,[0],[1.0])|           (15,[9],[1.0])|           United|           United|         None|         None|         None|                2.0|                2.0|                0.0|                0.0|                0.0|      (13,[2],[1.0])|      (15,[2],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000030a6b191a05f3...|2022-06-12|2022-08-08|           137|          0|           0|    244.6|             7|              57|      []|       0|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|American Airlines|             None|         None|         None|         None|                0.0|                0.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000030a6b191a05f3...|2022-07-18|2022-08-08|           137|          0|           0|    192.6|             7|              21|      []|       0|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|American Airlines|             None|         None|         None|         None|                0.0|                0.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000032c98a1411929...|2022-09-14|2022-10-12|           142|          0|           0|     77.6|             9|              28|      []|       0|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|           United|             None|         None|         None|         None|                2.0|                0.0|                0.0|                0.0|                0.0|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000032c98a1411929...|2022-09-29|2022-10-12|           142|          0|           0|    178.6|             9|              13|      []|       0|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|           United|             None|         None|         None|         None|                2.0|                0.0|                0.0|                0.0|                0.0|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000418a90646f46c...|2022-09-10|2022-09-23|           580|          0|           0|    338.6|             9|              13|   [ATL]|       1|                1|           3|              1|            0|       2022-09-23|               2659|       (15,[13],[1.0])|           (15,[0],[1.0])|            Delta|            Delta|         None|         None|         None|                1.0|                3.0|                0.0|                0.0|                0.0|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000495bcccb2492d...|2022-08-17|2022-09-23|           289|          0|           0|    117.6|             1|              37|   [DCA]|       1|                1|           3|              1|            0|       2022-09-23|               1329|        (15,[8],[1.0])|           (15,[3],[1.0])|American Airlines|American Airlines|         None|         None|         None|                0.0|                1.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00004982d1fbd9cfb...|2022-08-27|2022-10-15|           427|          0|           0|    417.6|             7|              49|   [ORD]|       1|                1|           1|              1|            0|       2022-10-15|               2337|        (15,[0],[1.0])|           (15,[6],[1.0])|American Airlines|American Airlines|         None|         None|         None|                0.0|                1.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00004ddd458018edb...|2022-05-06|2022-06-21|           527|          0|           0|    417.6|             5|              46|   [DFW]|       1|                1|           3|              1|            0|       2022-06-21|               2618|       (15,[12],[1.0])|           (15,[0],[1.0])|American Airlines|American Airlines|         None|         None|         None|                0.0|                1.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000606b4f492009f...|2022-07-15|2022-07-24|           770|          1|           0|    637.2|             3|               9|   [SEA]|       1|                1|           1|              1|            0|       2022-07-25|               2402|        (15,[5],[1.0])|           (15,[5],[1.0])|  Alaska Airlines|  Alaska Airlines|         None|         None|         None|                5.0|                5.0|                0.0|                0.0|                0.0|      (13,[5],[1.0])|      (15,[5],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000687c531722f65...|2022-06-08|2022-06-26|           454|          0|           0|   430.21|             1|              18|   [SLC]|       1|                1|           2|              1|            0|       2022-06-26|                979|        (15,[3],[1.0])|          (15,[10],[1.0])|            Delta|            Delta|         None|         None|         None|                1.0|                3.0|                0.0|                0.0|                0.0|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000077f3e5fb50d7c...|2022-10-04|2022-10-25|           153|          0|           0|     96.6|             7|              21|      []|       0|                1|           2|              1|            0|       2022-10-25|                761|       (15,[12],[1.0])|           (15,[7],[1.0])|American Airlines|             None|         None|         None|         None|                0.0|                0.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00007cb601b503065...|2022-09-16|2022-10-16|           461|          1|           0|    367.1|             7|              30|   [CLT]|       1|                1|           3|              1|            0|       2022-10-17|               2621|        (15,[0],[1.0])|          (15,[12],[1.0])|American Airlines|American Airlines|         None|         None|         None|                0.0|                1.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000be9d18b31a22a...|2022-09-10|2022-10-18|           347|          0|           0|   177.61|             7|              38|   [LAX]|       1|                1|           0|              1|            0|       2022-10-18|               1577|        (15,[3],[1.0])|           (15,[2],[1.0])|American Airlines|American Airlines|         None|         None|         None|                0.0|                1.0|                0.0|                0.0|                0.0|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000bf7c98d1b71aa...|2022-07-15|2022-08-24|           245|          0|           0|     82.6|             9|              40|   [IAD]|       1|                1|           3|              1|            0|       2022-08-24|                932|       (15,[11],[1.0])|           (15,[7],[1.0])|           United|           United|         None|         None|         None|                2.0|                2.0|                0.0|                0.0|                0.0|      (13,[2],[1.0])|      (15,[2],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000d6685d307eb9f...|2022-09-06|2022-09-23|           262|          0|           0|    148.6|             3|              17|      []|       0|                1|           1|              1|            0|       2022-09-23|               1621|        (15,[1],[1.0])|          (15,[10],[1.0])|           United|             None|         None|         None|         None|                2.0|                0.0|                0.0|                0.0|                0.0|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000e3ad4eefb5a1a...|2022-10-01|2022-10-20|           110|          0|           0|    258.6|             9|              19|      []|       0|                1|           2|              1|            0|       2022-10-20|                497|       (15,[11],[1.0])|           (15,[1],[1.0])|            Delta|             None|         None|         None|         None|                1.0|                0.0|                0.0|                0.0|                0.0|      (13,[1],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+-----------------+-----------------+-------------+-------------+-------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [139]:
# Drop the original categorical columns and the index columns after encoding
df_train_transformed = df_train_transformed.drop("AirlineName_0", "AirlineName_1","AirlineName_2",
                                                "AirlineName_3","AirlineName_4", "AirlineName_0_index",
                                                "AirlineName_1_index","AirlineName_2_index",
                                                "AirlineName_3_index","AirlineName_4_index")
df_test_transformed = df_test_transformed.drop("AirlineName_0", "AirlineName_1","AirlineName_2",
                                                "AirlineName_3","AirlineName_4", "AirlineName_0_index",
                                                "AirlineName_1_index","AirlineName_2_index",
                                                "AirlineName_3_index","AirlineName_4_index")
df_val_transformed = df_val_transformed.drop("AirlineName_0", "AirlineName_1","AirlineName_2",
                                                "AirlineName_3","AirlineName_4", "AirlineName_0_index",
                                                "AirlineName_1_index","AirlineName_2_index",
                                                "AirlineName_3_index","AirlineName_4_index")

In [140]:
df_train_transformed.show()

+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|               legId|searchDate|flightDate|travelDuration|elapsedDays|isRefundable|totalFare|seatsRemaining|DaysBeforeFlight|Layovers|NumStops|NumUniqueAirlines|AircraftType|NumUniqueCabins|hasFirstClass|FlightArrivalDate|totalTravelDistance|startingAirport_onehot|destinationAirport_onehot|AirlineName_0_onehot|AirlineName_1_onehot|AirlineName_2_onehot|AirlineName_3_onehot|AirlineName_4_onehot|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|00000f65c6af0f881...|2022-05-25|2022-05-28|           185|          0|           0|   561.61|             5|               3|   [CLE]|       1|                1|           2|              1|            0|       2022-05-28|                649|       (15,[11],[1.0])|           (15,[7],[1.0])|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000019591cfd2d4eb...|2022-06-19|2022-08-03|           621|          0|           0|   257.21|             7|              45|   [AUS]|       1|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000019591cfd2d4eb...|2022-07-14|2022-08-03|           621|          0|           0|    337.2|             7|              20|   [AUS]|       1|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00002b6f11d86964d...|2022-06-19|2022-08-13|           401|          0|           0|    792.6|             9|              55|   [DEN]|       1|                1|           3|              1|            0|       2022-08-13|               2373|        (15,[0],[1.0])|           (15,[9],[1.0])|      (13,[2],[1.0])|      (15,[2],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000030a6b191a05f3...|2022-06-12|2022-08-08|           137|          0|           0|    244.6|             7|              57|      []|       0|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000030a6b191a05f3...|2022-07-18|2022-08-08|           137|          0|           0|    192.6|             7|              21|      []|       0|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000032c98a1411929...|2022-09-14|2022-10-12|           142|          0|           0|     77.6|             9|              28|      []|       0|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000032c98a1411929...|2022-09-29|2022-10-12|           142|          0|           0|    178.6|             9|              13|      []|       0|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000418a90646f46c...|2022-09-10|2022-09-23|           580|          0|           0|    338.6|             9|              13|   [ATL]|       1|                1|           3|              1|            0|       2022-09-23|               2659|       (15,[13],[1.0])|           (15,[0],[1.0])|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000495bcccb2492d...|2022-08-17|2022-09-23|           289|          0|           0|    117.6|             1|              37|   [DCA]|       1|                1|           3|              1|            0|       2022-09-23|               1329|        (15,[8],[1.0])|           (15,[3],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00004982d1fbd9cfb...|2022-08-27|2022-10-15|           427|          0|           0|    417.6|             7|              49|   [ORD]|       1|                1|           1|              1|            0|       2022-10-15|               2337|        (15,[0],[1.0])|           (15,[6],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00004ddd458018edb...|2022-05-06|2022-06-21|           527|          0|           0|    417.6|             5|              46|   [DFW]|       1|                1|           3|              1|            0|       2022-06-21|               2618|       (15,[12],[1.0])|           (15,[0],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000606b4f492009f...|2022-07-15|2022-07-24|           770|          1|           0|    637.2|             3|               9|   [SEA]|       1|                1|           1|              1|            0|       2022-07-25|               2402|        (15,[5],[1.0])|           (15,[5],[1.0])|      (13,[5],[1.0])|      (15,[5],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000687c531722f65...|2022-06-08|2022-06-26|           454|          0|           0|   430.21|             1|              18|   [SLC]|       1|                1|           2|              1|            0|       2022-06-26|                979|        (15,[3],[1.0])|          (15,[10],[1.0])|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|000077f3e5fb50d7c...|2022-10-04|2022-10-25|           153|          0|           0|     96.6|             7|              21|      []|       0|                1|           2|              1|            0|       2022-10-25|                761|       (15,[12],[1.0])|           (15,[7],[1.0])|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|00007cb601b503065...|2022-09-16|2022-10-16|           461|          1|           0|    367.1|             7|              30|   [CLT]|       1|                1|           3|              1|            0|       2022-10-17|               2621|        (15,[0],[1.0])|          (15,[12],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000be9d18b31a22a...|2022-09-10|2022-10-18|           347|          0|           0|   177.61|             7|              38|   [LAX]|       1|                1|           0|              1|            0|       2022-10-18|               1577|        (15,[3],[1.0])|           (15,[2],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000bf7c98d1b71aa...|2022-07-15|2022-08-24|           245|          0|           0|     82.6|             9|              40|   [IAD]|       1|                1|           3|              1|            0|       2022-08-24|                932|       (15,[11],[1.0])|           (15,[7],[1.0])|      (13,[2],[1.0])|      (15,[2],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000d6685d307eb9f...|2022-09-06|2022-09-23|           262|          0|           0|    148.6|             3|              17|      []|       0|                1|           1|              1|            0|       2022-09-23|               1621|        (15,[1],[1.0])|          (15,[10],[1.0])|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
|0000e3ad4eefb5a1a...|2022-10-01|2022-10-20|           110|          0|           0|    258.6|             9|              19|      []|       0|                1|           2|              1|            0|       2022-10-20|                497|       (15,[11],[1.0])|           (15,[1],[1.0])|      (13,[1],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

### totalFare is heavily right-skewed so I am log transforming it to improve its linear relationshop

In [141]:
# log transform totalFare column
df_train_transformed = df_train_transformed.withColumn("log_totalFare", log("totalFare"))
df_test_transformed = df_test_transformed.withColumn("log_totalFare", log("totalFare"))
df_val_transformed = df_val_transformed.withColumn("log_totalFare", log("totalFare"))

df_train_transformed.show()

+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
|               legId|searchDate|flightDate|travelDuration|elapsedDays|isRefundable|totalFare|seatsRemaining|DaysBeforeFlight|Layovers|NumStops|NumUniqueAirlines|AircraftType|NumUniqueCabins|hasFirstClass|FlightArrivalDate|totalTravelDistance|startingAirport_onehot|destinationAirport_onehot|AirlineName_0_onehot|AirlineName_1_onehot|AirlineName_2_onehot|AirlineName_3_onehot|AirlineName_4_onehot|    log_totalFare|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
|00000f65c6af0f881...|2022-05-25|2022-05-28|           185|          0|           0|   561.61|             5|               3|   [CLE]|       1|                1|           2|              1|            0|       2022-05-28|                649|       (15,[11],[1.0])|           (15,[7],[1.0])|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|6.330807658820878|
|000019591cfd2d4eb...|2022-06-19|2022-08-03|           621|          0|           0|   257.21|             7|              45|   [AUS]|       1|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])| 5.54989287185648|
|000019591cfd2d4eb...|2022-07-14|2022-08-03|           621|          0|           0|    337.2|             7|              20|   [AUS]|       1|                1|           1|              1|            0|       2022-08-03|               1876|       (15,[10],[1.0])|           (15,[8],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|  5.8206762261277|
|00002b6f11d86964d...|2022-06-19|2022-08-13|           401|          0|           0|    792.6|             9|              55|   [DEN]|       1|                1|           3|              1|            0|       2022-08-13|               2373|        (15,[0],[1.0])|           (15,[9],[1.0])|      (13,[2],[1.0])|      (15,[2],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|6.675318680756335|
|000030a6b191a05f3...|2022-06-12|2022-08-08|           137|          0|           0|    244.6|             7|              57|      []|       0|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.499624223253072|
|000030a6b191a05f3...|2022-07-18|2022-08-08|           137|          0|           0|    192.6|             7|              21|      []|       0|                1|           2|              1|            0|       2022-08-08|                725|        (15,[7],[1.0])|           (15,[2],[1.0])|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.260615499364025|
|000032c98a1411929...|2022-09-14|2022-10-12|           142|          0|           0|     77.6|             9|              28|      []|       0|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|4.351567427189173|
|000032c98a1411929...|2022-09-29|2022-10-12|           142|          0|           0|    178.6|             9|              13|      []|       0|                1|           1|              1|            0|       2022-10-12|                848|        (15,[0],[1.0])|          (15,[10],[1.0])|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.185148668442398|
|0000418a90646f46c...|2022-09-10|2022-09-23|           580|          0|           0|    338.6|             9|              13|   [ATL]|       1|                1|           3|              1|            0|       2022-09-23|               2659|       (15,[13],[1.0])|           (15,[0],[1.0])|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.824819469699035|
|0000495bcccb2492d...|2022-08-17|2022-09-23|           289|          0|           0|    117.6|             1|              37|   [DCA]|       1|                1|           3|              1|            0|       2022-09-23|               1329|        (15,[8],[1.0])|           (15,[3],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|4.767289035464526|
|00004982d1fbd9cfb...|2022-08-27|2022-10-15|           427|          0|           0|    417.6|             7|              49|   [ORD]|       1|                1|           1|              1|            0|       2022-10-15|               2337|        (15,[0],[1.0])|           (15,[6],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|6.034524036568429|
|00004ddd458018edb...|2022-05-06|2022-06-21|           527|          0|           0|    417.6|             5|              46|   [DFW]|       1|                1|           3|              1|            0|       2022-06-21|               2618|       (15,[12],[1.0])|           (15,[0],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|6.034524036568429|
|0000606b4f492009f...|2022-07-15|2022-07-24|           770|          1|           0|    637.2|             3|               9|   [SEA]|       1|                1|           1|              1|            0|       2022-07-25|               2402|        (15,[5],[1.0])|           (15,[5],[1.0])|      (13,[5],[1.0])|      (15,[5],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|6.457083578035894|
|0000687c531722f65...|2022-06-08|2022-06-26|           454|          0|           0|   430.21|             1|              18|   [SLC]|       1|                1|           2|              1|            0|       2022-06-26|                979|        (15,[3],[1.0])|          (15,[10],[1.0])|      (13,[1],[1.0])|      (15,[3],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|6.064273461565794|
|000077f3e5fb50d7c...|2022-10-04|2022-10-25|           153|          0|           0|     96.6|             7|              21|      []|       0|                1|           2|              1|            0|       2022-10-25|                761|       (15,[12],[1.0])|           (15,[7],[1.0])|      (13,[0],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|4.570578741218473|
|00007cb601b503065...|2022-09-16|2022-10-16|           461|          1|           0|    367.1|             7|              30|   [CLT]|       1|                1|           3|              1|            0|       2022-10-17|               2621|        (15,[0],[1.0])|          (15,[12],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.905634290502789|
|0000be9d18b31a22a...|2022-09-10|2022-10-18|           347|          0|           0|   177.61|             7|              38|   [LAX]|       1|                1|           0|              1|            0|       2022-10-18|               1577|        (15,[3],[1.0])|           (15,[2],[1.0])|      (13,[0],[1.0])|      (15,[1],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.179590135279236|
|0000bf7c98d1b71aa...|2022-07-15|2022-08-24|           245|          0|           0|     82.6|             9|              40|   [IAD]|       1|                1|           3|              1|            0|       2022-08-24|                932|       (15,[11],[1.0])|           (15,[7],[1.0])|      (13,[2],[1.0])|      (15,[2],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|4.414009680526933|
|0000d6685d307eb9f...|2022-09-06|2022-09-23|           262|          0|           0|    148.6|             3|              17|      []|       0|                1|           1|              1|            0|       2022-09-23|               1621|        (15,[1],[1.0])|          (15,[10],[1.0])|      (13,[2],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.001258132283659|
|0000e3ad4eefb5a1a...|2022-10-01|2022-10-20|           110|          0|           0|    258.6|             9|              19|      []|       0|                1|           2|              1|            0|       2022-10-20|                497|       (15,[11],[1.0])|           (15,[1],[1.0])|      (13,[1],[1.0])|      (15,[0],[1.0])|      (12,[0],[1.0])|       (6,[0],[1.0])|       (1,[0],[1.0])|5.555282466337757|
+--------------------+----------+----------+--------------+-----------+------------+---------+--------------+----------------+--------+--------+-----------------+------------+---------------+-------------+-----------------+-------------------+----------------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
only showing top 20 rows

In [142]:
df_train_transformed.printSchema()

root
 |-- legId: string (nullable = true)
 |-- searchDate: date (nullable = true)
 |-- flightDate: date (nullable = true)
 |-- travelDuration: integer (nullable = true)
 |-- elapsedDays: integer (nullable = true)
 |-- isRefundable: integer (nullable = true)
 |-- totalFare: double (nullable = true)
 |-- seatsRemaining: integer (nullable = true)
 |-- DaysBeforeFlight: integer (nullable = true)
 |-- Layovers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- NumStops: integer (nullable = true)
 |-- NumUniqueAirlines: integer (nullable = true)
 |-- AircraftType: integer (nullable = true)
 |-- NumUniqueCabins: integer (nullable = true)
 |-- hasFirstClass: integer (nullable = true)
 |-- FlightArrivalDate: date (nullable = true)
 |-- totalTravelDistance: integer (nullable = true)
 |-- startingAirport_onehot: vector (nullable = true)
 |-- destinationAirport_onehot: vector (nullable = true)
 |-- AirlineName_0_onehot: vector (nullable = true)
 |-- AirlineName_1_onehot: vector (nullable = true)
 |-- AirlineName_2_onehot: vector (nullable = true)
 |-- AirlineName_3_onehot: vector (nullable = true)
 |-- AirlineName_4_onehot: vector (nullable = true)
 |-- log_totalFare: double (nullable = true)

## Writing the transformed dataframes to GCS to access for further model building

In [143]:
df_train_transformed.write.format("parquet").save("gs://msca-bdp-student-gcs/Group1/lr_data/traindata_transformed")

In [144]:
df_test_transformed.write.format("parquet").save("gs://msca-bdp-student-gcs/Group1/lr_data/testdata_transformed")

In [145]:
df_val_transformed.write.format("parquet").save("gs://msca-bdp-student-gcs/Group1/lr_data/valdata_transformed")